/*
.page {
	width: 1280px;
	position: relative;
	margin: 0 auto;
}
*/

body {
	font-family: sans-serif;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.page {
	padding: 0 10px;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
}

.page_expanded .rightPanel {
	margin-left: 220px;
}

.mainHeader {
	box-sizing: border-box;
	min-height: 100px;
	text-align: right;
	text-transform: uppercase;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom: 3px solid #7d97ad;
	
}

.mainHeader__logo {
	width: 83px;
	height: auto;
	float: left;
	margin-top: 11px;
}

.mainHeader__name {
	font-weight: 100;
	margin: 0;
/*	margin-top: 20px;*/
/*	color: #a5a5a5;*/
	font-size: 48px;
}

.mainHeader__title {
	font-weight: normal;
	margin: 0;
	margin-bottom: 10px;
}

.leftPanel {
	box-sizing: border-box;
	width: 220px;
	padding-left: 20px;
/*	margin-top: 130px;*/
	padding-top: 130px;
	outline: 1px solid red;
	position: fixed;
/*	left: 0;*/
}

.works {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
}

.works__item {
	width: 300px;
	min-height: 200px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
/*	border: 1px solid #7d97ad;*/
}

.works__link {
	width: 100%;
/*	min-height: 100%;*/
	display: block;
	color: black;
	text-decoration: none;
}

.works__img {
	display: block;
/*	height: 150px;*/
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: #7d97ad;
}

.works__title {
	box-sizing: border-box;
	text-transform: uppercase;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin: 0;
	padding: 10px 0;
	height: 50px;
	box-sizing: border-box;
	font-weight: 400;
	color: #2d3c49;
	border: 1px solid #7d97ad;
	border-top-color: transparent;
}

.content__title {
	color: darkgray;
}
